@media (max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/



    /*------------
        Header
    ------------*/
    header .menu .item + .item
    {
        margin-left: 40px;
    }



    .page_anchors
    {
        display: none;
    }



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 50px;
    }



    /*----------------
        Block head
    ----------------*/



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/
    .text_block .message,
    .text_block .table_wrap
    {
        width: calc(100% - 80px);
        max-width: calc(100% - 80px);
        margin-right: 40px;
        margin-left: 40px;
    }



    /*-----------------
        Where buy block
    -----------------*/
    .where_buy_block .row
    {
        margin-bottom: -60px;
        margin-left: -30px;
    }

    .where_buy_block .row > *
    {
        width: calc(25% - 30px);
        margin-bottom: 60px;
        margin-left: 30px;
    }



    /*---------
        Faq
    ---------*/
    .faq .item + .item
    {
        margin-top: 40px;
    }

    .faq .item .head
    {
        min-height: 80px;
        padding: 15px 25px 15px 30px;
    }

    .faq .item .data
    {
        padding: 0 25px 25px 30px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row
    {
        margin-bottom: -30px;
        margin-left: -30px;

        --articles_gutter: 30px;
    }

    .articles .row > *
    {
        width: calc(33.333% - 30px);
        margin-bottom: 30px;
        margin-left: 30px;
    }


    .articles .article .info
    {
        padding: 20px;
    }


    .articles .load_more
    {
        margin-top: 30px;
    }



    /*-----------------
        Instruction
    -----------------*/
    .instruction .head .data
    {
        width: 455px;
        margin-left: 30px;
        padding-left: 0;
    }

    .instruction .head .img
    {
        margin-right: 30px;
    }


    .instruction .content_flex
    {
        padding: 0;
    }



    /*--------------
        One page
    --------------*/
    .one_page .cont
    {
        padding-top: 76px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .data
    {
        padding: 0;
    }

    .first_section .data .title
    {
        font-size: 60px;
        line-height: 60px;
    }

    .first_section .data .sub_title
    {
        font-size: 32px;
        line-height: 34px;
    }


    .first_section .data ol li
    {
        font-size: 16px;
        line-height: 24px;
    }

    .first_section .data ol li sup
    {
        font-size: 14px;
        line-height: 18px;
    }



    .first_section .info
    {
        width: 100%;
        margin-bottom: 40px;
    }

    .first_section .info .title
    {
        font-size: 40px;
        line-height: 42px;
    }


    .first_section .img
    {
        max-width: 75%;
    }



    /*--------------------
        Second section
    --------------------*/
    .second_section .data .title
    {
        font-size: 32px;
        line-height: 40px;

        width: 395px;
        margin-top: 300px;
    }

    .second_section .data .title sup
    {
        font-size: 16px;
        line-height: 26px;
    }


    .second_section .data .img
    {
        top: 0;
        bottom: auto;

        width: 75%;
    }


    .second_section .data .exp
    {
        font-size: 18px;
        line-height: 24px;

        width: 100%;
        margin-top: 25px;
        padding: 25px;
    }

    .second_section .data .exp .name
    {
        font-size: 36px;
        line-height: 36px;

        margin-bottom: 5px;
    }



    /*-------------------
        Third section
    -------------------*/
    .third_section .row
    {
        margin-top: 55px;
    }

    .third_section .item .name
    {
        font-size: 27px;
        line-height: 31px;
    }



    /*--------------------
        Fourth section
    --------------------*/
    .fourth_section .block_title,
    .fourth_section .title
    {
        margin-bottom: 45px;
    }


    .fourth_section .img_register
    {
        top: 230px;

        width: 115px;
    }



    /*-------------------
        Fifth section
    -------------------*/
    .fifth_section .bg
    {
        padding: 35px 20px;
    }


    .fifth_section .compatibility
    {
        font-size: 15px;
        line-height: 21px;

        width: 270px;
        min-height: 210px;
        padding: 20px;
    }


    .fifth_section .course
    {
        width: calc(100% - 300px);
    }


    .fifth_section .bottom
    {
        margin-top: 35px;
    }


    .fifth_section .pluses
    {
        width: 100%;
    }


    .fifth_section .what_going_on
    {
        width: 100%;
        margin-top: 35px;
    }

    .fifth_section .what_going_on .title
    {
        font-size: 28px;
    }


    .fifth_section .what_going_on .items
    {
        display: flex;

        width: calc(100% - 200px);

        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .fifth_section .what_going_on .items > * + *
    {
        margin-top: 0;
    }



    /*-------------------
        Sixth section
    -------------------*/
    .sixth_section .bg
    {
        padding: 40px 20px;
    }


    .sixth_section .bottom .row
    {
        margin-left: -50px;
        padding: 0 40px;
    }

    .sixth_section .bottom .row > *
    {
        width: calc(50% - 50px);
        margin-bottom: 30px;
        margin-left: 50px;
    }

    .sixth_section .bottom .item
    {
        font-size: 24px;
    }



    /*---------------------
        Seventh section
    ---------------------*/
    .seventh_section .cont > .row
    {
        margin-top: 50px;
        padding: 0;
    }


    .seventh_section .img
    {
        width: 260px;
    }


    .seventh_section .items
    {
        width: calc(100% - 301px);
    }



    /*--------------------
        Eighth section
    --------------------*/
    .eighth_section .use_and_dose
    {
        width: 100%;
    }


    .eighth_section .total_duration
    {
        width: 100%;
        margin-top: 20px;
    }

    .eighth_section .total_duration img
    {
        max-width: 60%;
    }



    /*----------------------------------
        Favipiravir info - Head info
    ----------------------------------*/
    .favipiravir_info .head_info .title
    {
        font-size: 38px;
    }

    .favipiravir_info .head_info .desc
    {
        font-size: 18px;
        line-height: 26px;
    }



    /*----------------------------------
        Favipiravir info - Mechanism
    ----------------------------------*/
    .favipiravir_info .mechanism .head .cont.row
    {
        padding: 0 20px;
    }


    .favipiravir_info .mechanism .head .title
    {
        font-size: 28px;
        line-height: 32px;
    }

    .favipiravir_info .mechanism .head .step:after
    {
        right: calc(100% + 45px);
    }


    .favipiravir_info .mechanism .info
    {
        width: 585px;
        margin-right: 0;
    }

    .favipiravir_info .mechanism .info .text_block
    {
        font-size: 18px;
        line-height: 26px;
    }



    /*--------------------------------
        Favipiravir info - Formula
    --------------------------------*/
    .favipiravir_info .formula .cont.row
    {
        padding: 0 20px;
    }


    .favipiravir_info .formula .img
    {
        width: 390px;
    }


    .favipiravir_info .formula .info
    {
        width: calc(100% - 460px);
    }

    .favipiravir_info .formula .info .title
    {
        font-size: 18px;
        line-height: 26px;

        margin-bottom: 25px;
    }


    .favipiravir_info .formula .bottom
    {
        font-size: 25px;
        line-height: 35px;

        margin-top: 25px;
        padding: 26px 36px;
    }



    /*-----------------------------------
        Favipiravir info - Efficiency
    -----------------------------------*/
    .favipiravir_info .efficiency .cont
    {
        padding: 0 20px;
    }


    .favipiravir_info .efficiency .block_title
    {
        font-size: 38px;
        line-height: 44px;

        margin-bottom: 35px;
    }


    .favipiravir_info .efficiency .info
    {
        font-size: 18px;
        line-height: 26px;

        width: 340px;
    }


    .favipiravir_info .efficiency .img
    {
        max-width: calc(100% - 380px);
    }



    /*-------------------------------
        Favipiravir info - Charts
    -------------------------------*/
    .favipiravir_info .charts .cont
    {
        padding: 0 20px;
    }


    .favipiravir_info .charts .items
    {
        max-width: calc(100% - 385px);
    }


    .favipiravir_info .charts .info
    {
        font-size: 18px;
        line-height: 26px;

        width: 365px;
    }



    /*---------------------------------
        Favipiravir info - Footnote
    ---------------------------------*/
    .favipiravir_info .footnote
    {
        font-size: 14px;
        line-height: 20px;

        margin-top: 25px;
    }



    /*------------------------------------
        Favipiravir info - Portability
    ------------------------------------*/
    .favipiravir_info .portability .cont
    {
        padding: 0 20px;
    }


    .favipiravir_info .portability .block_title
    {
        font-size: 38px;
        line-height: 44px;

        margin-bottom: 35px;
    }


    .favipiravir_info .portability .col,
    .favipiravir_info .portability .col + .col
    {
        width: calc(50% - 15px);
    }


    .favipiravir_info .portability .table_title
    {
        font-size: 18px;
        line-height: 26px;

        margin-bottom: 30px;
        padding: 20px 45px;
    }


    .favipiravir_info .portability .text_block
    {
        font-size: 18px;
        line-height: 26px;

        padding: 20px 10px;
    }


    .favipiravir_info .portability .bottom
    {
        font-size: 21px;
        line-height: 25px;

        margin-top: 10px;
        padding: 20px 32px;
    }



    /*--------------------------------------
        Favipiravir info - Observ. study
    --------------------------------------*/
    .favipiravir_info .observ_study .cont
    {
        padding: 0 20px;
    }


    .favipiravir_info .observ_study .block_title
    {
        font-size: 38px;
        line-height: 44px;

        margin-bottom: 35px;
    }


    .favipiravir_info .observ_study .text_block
    {
        font-size: 18px;
        line-height: 26px;

        width: 335px;
    }


    .favipiravir_info .observ_study .table
    {
        font-size: 18px;
        line-height: 26px;

        max-width: calc(100% - 375px);
    }


    .favipiravir_info .observ_study .bottom
    {
        font-size: 25px;
        line-height: 31px;

        margin-top: 35px;
        padding: 20px 102px;
    }



    /*----------------------------------
        Favipiravir info - Confirmed
    ----------------------------------*/
    .favipiravir_info .confirmed .cont
    {
        padding: 0 20px;
    }


    .favipiravir_info .confirmed .block_title
    {
        font-size: 38px;
        line-height: 44px;

        margin-bottom: 35px;
    }


    .favipiravir_info .confirmed .info .exp
    {
        font-size: 18px;
        line-height: 26px;

        padding: 22px 52px;
    }


    .favipiravir_info .confirmed .info .text_block
    {
        font-size: 18px;
        line-height: 26px;

        margin-top: 30px;
    }

    .favipiravir_info .confirmed .info .text_block > *
    {
        margin-bottom: 25px;
    }


    .favipiravir_info .confirmed .chart
    {
        padding: 32px;
    }

    .favipiravir_info .confirmed .chart .name
    {
        font-size: 23px;
        line-height: 29px;

        margin-bottom: 20px;
    }


    .favipiravir_info .confirmed .bottom
    {
        font-size: 18px;
        line-height: 26px;

        margin-top: 35px;
        padding: 32px 82px;
    }




    /*-------------------
        First section2
    -------------------*/
    .first_section2 .cont
    {
        padding-top: 76px;
        padding-bottom: 72px;
    }


    .first_section2 .info
    {
        width: 50%;
        margin-left: 0;
    }


    .first_section2 .info .title
    {
        font-size: 42px;
    }

    .first_section2 .info .title small
    {
        font-size: 18px;
        line-height: 18px;
    }


    .first_section2 .info .link
    {
        padding: 0 32px;
    }


    .first_section2 .image
    {
        width: 50%;
        margin-right: 0;
    }


    .first_section2 .number_cases
    {
        padding: 16px 0;
    }

    .first_section2 .number_cases .title
    {
        font-size: 24px;
    }

    .first_section2 .number_cases .item
    {
        font-size: 24px;
    }



    /*---------------------
        Second section2
    ---------------------*/
    .second_section2 .block_title
    {
        font-size: 32px;
        line-height: 34px;
    }


    .second_section2 .items
    {
        width: calc(100% + 32px);
        margin-top: 32px;
        margin-bottom: -32px;
        margin-left: -32px;
    }


    .second_section2 .message
    {
        display: flex;

        width: 100%;
        margin-top: 32px;
        padding: 22px;

        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .second_section2 .message img
    {
        margin: 0;
    }

    .second_section2 .message img + div
    {
        width: calc(100% - 79px);
        margin-left: auto;
    }



    /*--------------------
        Third section2
    --------------------*/
    .third_section2 .block_title
    {
        font-size: 32px;
        line-height: 34px;

        margin-bottom: 0;
    }


    .third_section2 .info .title
    {
        font-size: 19px;
        line-height: 25px;

        margin-bottom: 32px;
    }


    .third_section2 .items
    {
        padding: 28px;
    }

    .third_section2 .items .title
    {
        font-size: 19px;
        line-height: 23px;
    }

    .third_section2 .items.list
    {
        column-gap: 28px;
        column-count: 2;
    }

    .third_section2 .items .list > *:before
    {
        top: 7px;
    }



    /*---------------------
        Fourth section2
    ---------------------*/
    .fourth_section2 .block_title
    {
        font-size: 32px;
        line-height: 34px;

        width: 412px;
    }


    .fourth_section2 .block_desc
    {
        font-size: 18px;
        line-height: 24px;

        margin-right: 0;
        margin-left: auto;
    }


    .fourth_section2 .items
    {
        width: calc(100% + 24px);
        margin-top: 52px;
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .fourth_section2 .items .item
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
        padding: 24px;
    }

    .fourth_section2 .items .item .icon
    {
        height: 72px;
        margin-bottom: 16px;
    }



    /*--------------------
        Fifth section2
    --------------------*/
    .fifth_section2 .block_title
    {
        font-size: 32px;
        line-height: 34px;

        margin-bottom: 32px;
    }


    .fifth_section2 .use_and_dose
    {
        width: calc(50% - 32px);
    }

    .fifth_section2 .use_and_dose .title
    {
        font-size: 18px;
        line-height: 22px;
    }


    .fifth_section2 .use_and_dose .sub_title
    {
        font-size: 22px;
        line-height: 24px;
    }



    /*--------------------
        Sixth section2
    --------------------*/
    .sixth_section2 .block_title
    {
        font-size: 32px;
        line-height: 34px;
    }


    .sixth_section2 .row
    {
        margin-bottom: -40px;
        margin-left: -40px;
    }

    .sixth_section2 .item
    {
        width: calc(50% - 40px);
        margin-bottom: 40px;
        margin-left: 40px;
    }



    /*----------------------
        Seventh section2
    ----------------------*/
    .seventh_section2 .block_title
    {
        font-size: 32px;
        line-height: 34px;

        margin-bottom: 32px;
    }


    .seventh_section2 .info
    {
        width: 50%;
        padding: 24px 52px 24px 28px;
    }

    .seventh_section2 .info .title
    {
        font-size: 19px;
        line-height: 25px;
    }

    .seventh_section2 .info .img
    {
        width: 272px;
    }


    .seventh_section2 .analysis
    {
        width: 240px;
    }

    .seventh_section2 .analysis .icon
    {
        height: 72px;
        margin-bottom: 16px;
    }

    .seventh_section2 .analysis .title,
    .seventh_section2 .analysis .desc
    {
        font-size: 19px;
        line-height: 25px;
    }



    /*---------------------
        Eighth section2
    ---------------------*/
    .eighth_section2 .items
    {
        width: calc(100% + 24px);
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .eighth_section2 .items .item
    {
        width: calc(20% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }



    /*--------------------
        Ninth section2
    --------------------*/
    .ninth_section2 .block_title
    {
        padding-top: 24px;
        padding-bottom: 24px;
    }


    .ninth_section2 .map_wrap
    {
        min-height: 450px;
    }

    .ninth_section2 .map_wrap .info
    {
        width: 428px;
        padding: 24px;
    }



    .second_section2,
    .third_section2,
    .fourth_section2,
    .fifth_section2,
    .sixth_section2,
    .seventh_section2,
    .eighth_section2
    {
        padding-top: 76px;
        padding-bottom: 76px;
    }

    .seventh_section2
    {
        padding-bottom: 92px;
    }



    /*---------------------------
        Omicron first section
    ---------------------------*/
    .omicron_first_section
    {
        margin-top: 76px;
    }


    .omicron_first_section .cont
    {
        height: 400px;
    }


    .omicron_first_section .info
    {
        width: 372px;
    }

    .omicron_first_section .info .title
    {
        font-size: 64px;
    }

    .omicron_first_section .info .desc
    {
        font-size: 22px;
        line-height: 28px;

        margin-top: 20px;
    }

    .omicron_first_section .info .link
    {
        margin-top: 24px;
    }



    /*----------------------
        Omicron symptoms
    ----------------------*/
    .omicron_symptoms
    {
        padding: 64px 0 146px;
    }


    .omicron_symptoms .block_title
    {
        font-size: 40px;
        line-height: 44px;

        margin-bottom: 28px;
    }



    .omicron_symptoms .peculiarities .title,
    .omicron_symptoms .symptoms .title
    {
        font-size: 24px;
        line-height: 28px;

        margin-bottom: 20px;
    }


    .omicron_symptoms .peculiarities .columns
    {
        column-gap: 24px;
    }

    .omicron_symptoms .peculiarities .columns > * + *
    {
        margin-top: 24px;
    }


    .omicron_symptoms .peculiarities .item
    {
        min-height: 52px;
        padding-left: 68px;
    }


    .omicron_symptoms .peculiarities .number
    {
        font-size: 26px;
        line-height: 52px;

        width: 52px;
        height: 52px;
    }

    .omicron_symptoms .peculiarities .number:after
    {
        width: calc(100% - 6px);
        height: calc(100% - 6px);
    }


    .omicron_symptoms .peculiarities .name
    {
        font-size: 22px;
        line-height: 26px;
    }

    .omicron_symptoms .peculiarities .desc
    {
        line-height: 20px;
    }


    .omicron_symptoms .symptoms .item
    {
        font-size: 18px;
        line-height: 22px;
    }

    .omicron_symptoms .symptoms .icon
    {
        width: 72px;
        height: 72px;
    }

    .omicron_symptoms .symptoms .icon + *
    {
        width: calc(100% - 85px);
    }



    .omicron_symptoms .number_cases
    {
        padding: 16px 0;
    }

    .omicron_symptoms .number_cases .title
    {
        font-size: 24px;
    }

    .omicron_symptoms .number_cases .item
    {
        font-size: 24px;
    }



    /*--------------------
        Omicron slogan
    --------------------*/
    .omicron_slogan
    {
        font-size: 50px;
        line-height: 100%;

        padding: 52px 0;
    }

    .omicron_slogan sup
    {
        font-size: 24px;
        line-height: 32px;
    }



    /*-----------------
        Any viruses
    -----------------*/
    .any_viruses
    {
        padding: 64px 0;
    }


    .any_viruses .block_title
    {
        font-size: 38px;
        line-height: 44px;

        margin-bottom: 36px;
    }

    .any_viruses .block_title sup
    {
        font-size: 18px;
    }


    .any_viruses .desc
    {
        font-size: 18px;
        line-height: 28px;

        width: 310px;
        padding: 32px 28px;
    }


    .any_viruses .items
    {
        width: 332px;
    }

    .any_viruses .items > *
    {
        font-size: 18px;
        line-height: 26px;

        min-height: 52px;
        padding-left: 68px;

        background-size: 52px auto;
    }

    .any_viruses .items > * + *
    {
        margin-top: 24px;
    }


    .any_viruses .image
    {
        width: 320px;
        margin-top: 0;
        margin-right: -24px;
        margin-left: -24px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        margin-top: 50px;
    }



    /*-----------
        PopUp
    -----------*/
}
