@media (max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    .content_flex .content
    {
        width: 100%;

        order: 3;
    }



    /*------------
        Header
    ------------*/
    header .mob_menu_btn
    {
        display: block;

        margin-left: 20px;
    }

    header .menu
    {
        position: absolute;
        top: 100%;
        left: 0;

        display: none;

        width: 100%;
        padding: 10px 0;

        background: #fff;
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .11);
    }

    header .menu .item + .item,
    .home header .menu .item + .item
    {
        margin-left: 0;
    }


    header .where_buy_link
    {
        font-size: 18px;
        line-height: 38px;

        width: 120px;
        height: 36px;
        margin-left: auto;
    }



    /*-------------
        Sidebar
    -------------*/
    aside
    {
        width: 100%;
        margin-bottom: 30px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 30px;
    }

    .page_head .cont > * + *
    {
        margin-top: 20px;
    }


    .page_title
    {
        font-size: 50px;
        line-height: 50px;
    }


    .filter
    {
        width: 100%;
    }



    /*----------------
        Block head
    ----------------*/



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 14px;
        line-height: 22px;
    }


    .text_block .message
    {
        padding: 20px 20px 20px 129px;
    }

    .text_block .message .thumb
    {
        left: 20px;
    }


    .text_block ul li:before
    {
        top: 6px;
    }


    .text_block table
    {
        width: 728px;
    }

    .text_block table th
    {
        padding: 10px 15px;
    }

    .text_block table td
    {
        padding: 10px 15px;
    }



    /*-----------------
        Where buy block
    -----------------*/
    .where_buy_block .row
    {
        margin-bottom: -30px;
        margin-left: -30px;
    }

    .where_buy_block .row > *
    {
        width: calc(50% - 30px);
        margin-bottom: 30px;
        margin-left: 30px;
    }



    /*---------
        Faq
    ---------*/
    .faq .item + .item
    {
        margin-top: 25px;
    }

    .faq .item .title
    {
        font-size: 20px;
        line-height: 22px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row
    {
        margin-bottom: -20px;
        margin-left: -20px;

        --articles_gutter: 20px;
    }

    .articles .row > *
    {
        width: calc(100% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }



    /*-----------------
        Instruction
    -----------------*/
    .instruction .head .data
    {
        width: 100%;

        text-align: center;
    }

    .instruction .head .title
    {
        font-size: 50px;
        line-height: 50px;
    }

    .instruction .head .desc
    {
        font-size: 22px;
        line-height: 26px;

        margin-top: 10px;
    }


    .instruction .head .img
    {
        margin: 40px auto 0;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .data ol li
    {
        font-size: 15px;
        line-height: 21px;

        min-height: 34px;
        padding-left: 45px;
    }

    .first_section .data ol li + li
    {
        margin-top: 15px;
    }

    .first_section .data ol li:before
    {
        font-size: 20px;
        line-height: 28px;

        width: 32px;
        height: 32px;
    }

    .first_section .data ol li sup
    {
        font-size: 12px;
        line-height: 16px;
    }


    .first_section .info
    {
        width: 100%;
        margin-bottom: 40px;

        text-align: center;
    }

    .first_section .info .title
    {
        font-size: 32px;
        line-height: 34px;
    }


    .first_section .img
    {
        max-width: 75%;
    }



    /*--------------------
        Second section
    --------------------*/
    .second_section .data .title
    {
        font-size: 34px;
        line-height: 36px;
    }

    .second_section .data .title sup
    {
        font-size: 14px;
        line-height: 20px;
    }


    .second_section .data .exp .name
    {
        font-size: 28px;
        line-height: 30px;
    }



    /*-------------------
        Third section
    -------------------*/
    .third_section .title
    {
        font-size: 34px;
        line-height: 36px;
    }

    .third_section .sub_title
    {
        font-size: 28px;
        line-height: 28px;

        margin-top: 10px;
    }


    .third_section .row > *
    {
        width: calc(100% - 40px);
        max-width: calc(100% - 40px);
    }



    /*--------------------
        Fourth section
    --------------------*/
    .fourth_section .block_title
    {
        font-size: 32px;
        line-height: 33px;
    }


    .fourth_section .title
    {
        font-size: 17px;
        line-height: 23px;
    }

    .fourth_section .title sup
    {
        font-size: 12px;
        line-height: 16px;
    }


    .fourth_section .img_register
    {
        top: 180px;

        width: 100px;
    }



    /*-------------------
        Fifth section
    -------------------*/
    .fifth_section .block_title
    {
        font-size: 32px;
        line-height: 33px;
    }

    .fifth_section .block_title sup
    {
        font-size: 16px;
        line-height: 20px;
    }


    .fifth_section .course .item
    {
        width: 100%;
    }

    .fifth_section .course .item + .item
    {
        margin-top: 30px;
    }


    .fifth_section .pluses .row
    {
        margin-bottom: -42px;
        margin-left: -40px;
    }

    .fifth_section .pluses .row > *
    {
        width: calc(50% - 40px);
        margin-bottom: 42px;
        margin-left: 40px;
    }

    .fifth_section .pluses .item
    {
        font-size: 14px;
        line-height: 18px;
    }

    .fifth_section .pluses .item:nth-child(3):before
    {
        top: -22px;
        left: 0;

        width: calc(200% + 40px);
        height: 2px;
    }


    .fifth_section .what_going_on .items > *
    {
        width: 100%;
    }

    .fifth_section .what_going_on .items > * + *
    {
        margin-top: 15px;
    }



    /*-------------------
        Sixth section
    -------------------*/
    .sixth_section .block_title
    {
        font-size: 32px;
        line-height: 33px;
    }


    .sixth_section .bg
    {
        padding: 30px 20px;
    }


    .sixth_section .bg .info .title
    {
        font-size: 30px;
        line-height: 34px;

        margin-bottom: 15px;
    }

    .sixth_section .bg .info .title sup
    {
        font-size: 14px;
        line-height: 22px;
    }


    .sixth_section .bottom .row > *
    {
        width: calc(100% - 30px);
    }



    /*---------------------
        Seventh section
    ---------------------*/
    .seventh_section .block_title
    {
        font-size: 32px;
        line-height: 33px;

        margin-bottom: 30px;
    }


    .seventh_section .title
    {
        font-size: 22px;
        line-height: 26px;
    }

    .seventh_section .title sup
    {
        font-size: 12px;
        line-height: 16px;
    }


    .seventh_section .cont > .row
    {
        margin-top: 35px;
    }


    .seventh_section .items ol
    {
        margin-bottom: -20px;
    }

    .seventh_section .items ol > *
    {
        width: calc(100% - 30px);
        margin-bottom: 20px;
    }

    .seventh_section .items ol li
    {
        font-size: 15px;
        line-height: 23px;

        padding-left: 50px;
    }

    .seventh_section .items ol li:before
    {
        font-size: 20px;
        line-height: 28px;

        width: 32px;
        height: 32px;
    }



    /*--------------------
        Eighth section
    --------------------*/
    .eighth_section .block_title
    {
        font-size: 32px;
        line-height: 33px;
    }


    .eighth_section .use_and_dose .title
    {
        width: 100%;
    }

    .eighth_section .use_and_dose .info .item .name
    {
        width: calc(100% - 15px);
        margin-bottom: 5px;
    }

    .eighth_section .use_and_dose .info .item .name br
    {
        display: none;
    }

    .eighth_section .use_and_dose .info .item .val
    {
        width: calc(50% - 15px);
        margin-left: 15px;
    }


    .eighth_section .total_duration img
    {
        max-width: 100%;
    }


    .eighth_section .video
    {
        font-size: 14px;
        line-height: 18px;
    }



    /*----------------------------------
        Favipiravir info - Head info
    ----------------------------------*/
    .favipiravir_info .head_info .title
    {
        font-size: 30px;
    }

    .favipiravir_info .head_info .desc
    {
        font-size: 15px;
        line-height: 23px;
    }



    /*----------------------------------
        Favipiravir info - Mechanism
    ----------------------------------*/
    .favipiravir_info .mechanism .head
    {
        padding: 20px 0 0;
    }

    .favipiravir_info .mechanism .head .title
    {
        font-size: 22px;
        line-height: 26px;

        width: 100%;
    }

    .favipiravir_info .mechanism .head .title br
    {
        display: none;
    }


    .favipiravir_info .mechanism .head .steps
    {
        font-size: 16px;

        width: 100%;
    }

    .favipiravir_info .mechanism .head .step:after
    {
        right: calc(100% + 20px);
    }


    .favipiravir_info .mechanism .info
    {
        width: 100%;
        margin-top: 25px;
    }

    .favipiravir_info .mechanism .info img
    {
        width: 104px;
    }

    .favipiravir_info .mechanism .info .text_block
    {
        font-size: 15px;
        line-height: 23px;

        width: calc(100% - 129px);
    }



    /*--------------------------------
        Favipiravir info - Formula
    --------------------------------*/
    .favipiravir_info .formula
    {
        padding: 50px 0;
    }


    .favipiravir_info .formula .img
    {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }


    .favipiravir_info .formula .info
    {
        width: 100%;
    }


    .favipiravir_info .formula .bottom
    {
        font-size: 19px;
        line-height: 25px;

        padding: 20px;
    }



    /*-----------------------------------
        Favipiravir info - Efficiency
    -----------------------------------*/
    .favipiravir_info .efficiency .block_title
    {
        font-size: 28px;
        line-height: 34px;
    }

    .favipiravir_info .efficiency .block_title br
    {
        display: none;
    }


    .favipiravir_info .efficiency .info
    {
        font-size: 15px;
        line-height: 23px;

        width: 100%;
    }


    .favipiravir_info .efficiency .img
    {
        max-width: 100%;
        margin-top: 25px;
    }



    /*-------------------------------
        Favipiravir info - Charts
    -------------------------------*/
    .favipiravir_info .charts
    {
        padding: 40px 0;
    }


    .favipiravir_info .charts .items
    {
        max-width: calc(100% + 20px);
        margin-bottom: 5px;
    }


    .favipiravir_info .charts .chart
    {
        font-size: 14px;
        line-height: 20px;
    }


    .favipiravir_info .charts .info
    {
        font-size: 15px;
        line-height: 23px;

        width: 100%;
    }



    /*------------------------------------
        Favipiravir info - Portability
    ------------------------------------*/
    .favipiravir_info .portability .block_title
    {
        font-size: 28px;
        line-height: 34px;
    }

    .favipiravir_info .portability .block_title br
    {
        display: none;
    }


    .favipiravir_info .portability .col,
    .favipiravir_info .portability .col + .col
    {
        width: 100%;
    }

    .favipiravir_info .portability .col + .col
    {
        margin-top: 25px;
    }


    .favipiravir_info .portability .table_title
    {
        font-size: 15px;
        line-height: 23px;

        margin-bottom: 20px;
    }


    .favipiravir_info .portability .text_block
    {
        font-size: 15px;
        line-height: 23px;
    }


    .favipiravir_info .portability .bottom
    {
        font-size: 18px;
        line-height: 22px;
    }



    /*--------------------------------------
        Favipiravir info - Observ. study
    --------------------------------------*/
    .favipiravir_info .observ_study .block_title
    {
        font-size: 28px;
        line-height: 34px;
    }

    .favipiravir_info .observ_study .block_title br
    {
        display: none;
    }


    .favipiravir_info .observ_study .text_block
    {
        font-size: 15px;
        line-height: 23px;

        width: 100%;
    }


    .favipiravir_info .observ_study .table
    {
        font-size: 15px;
        line-height: 23px;

        width: 100%;
        max-width: 100%;
        margin-top: 25px;
    }


    .favipiravir_info .observ_study .bottom
    {
        font-size: 20px;
        line-height: 26px;

        margin-top: 25px;
        padding: 20px;
    }



    /*----------------------------------
        Favipiravir info - Confirmed
    ----------------------------------*/
    .favipiravir_info .confirmed .block_title
    {
        font-size: 28px;
        line-height: 34px;
    }

    .favipiravir_info .confirmed .block_title br
    {
        display: none;
    }


    .favipiravir_info .confirmed .info
    {
        width: 100%;
    }

    .favipiravir_info .confirmed .info .exp
    {
        font-size: 15px;
        line-height: 23px;

        padding: 20px;
    }


    .favipiravir_info .confirmed .info .text_block
    {
        font-size: 15px;
        line-height: 23px;

        width: 100%;
    }


    .favipiravir_info .confirmed .chart
    {
        width: 100%;
        margin-top: 25px;
        padding: 20px;
    }

    .favipiravir_info .confirmed .chart .name
    {
        font-size: 19px;
        line-height: 25px;
    }


    .favipiravir_info .confirmed .bottom
    {
        font-size: 15px;
        line-height: 23px;

        margin-top: 25px;
        padding: 20px;
    }



    /*-------------------
        First section2
    -------------------*/
    .first_section2 .info
    {
        padding-top: 32px;
        padding-bottom: 100px;
    }


    .first_section2 .info .title
    {
        font-size: 32px;
    }

    .first_section2 .info .title small
    {
        font-size: 14px;
        line-height: 14px;
    }

    .first_section2 .info .link
    {
        padding: 0 28px;
    }


    .first_section2 .image
    {
        top: 180px;
    }

    .first_section2 .image img
    {
        width: 320px;
    }


    .first_section2 .number_cases .title
    {
        font-size: 22px;
        line-height: 100%;

        width: 100%;
        margin: 0 0 12px;

        text-align: center;
    }

    .first_section2 .number_cases .item
    {
        font-size: 22px;
    }

    .first_section2 .number_cases .val
    {
        line-height: 38px;

        height: 36px;
        margin-left: 10px;
        padding: 0 16px;
    }



    /*---------------------
        Second section2
    ---------------------*/
    .second_section2
    {
        padding: 60px 0;
    }


    .second_section2 .block_title
    {
        font-size: 28px;
        line-height: 32px;
    }


    .second_section2 .items
    {
        margin-top: 32px;
        margin-bottom: -24px;
        margin-left: 0;
    }

    .second_section2 .items .item,
    .second_section2 .items .item.big
    {
        width: 100%;
        margin-bottom: 24px;
        margin-left: 0;
    }

    .second_section2 .items .item .icon
    {
        width: 52px;
    }

    .second_section2 .items .item .icon + div
    {
        width: calc(100% - 72px);
        margin-left: auto;
    }


    .second_section2 .message
    {
        font-size: 17px;
        line-height: 23px;

        margin-top: 40px;
    }



    /*--------------------
        Third section2
    --------------------*/
    .third_section2
    {
        padding: 60px 0;
    }


    .third_section2 .items
    {
        padding: 24px;
    }



    /*---------------------
        Fourth section2
    ---------------------*/
    .fourth_section2
    {
        padding: 60px 0;
    }



    .fourth_section2 .items
    {
        margin-left: 0;
    }

    .fourth_section2 .items .item
    {
        display: flex;

        width: 100%;
        margin-left: 0;
        padding: 16px 20px;

        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .fourth_section2 .items .item .icon
    {
        width: 52px;
        margin: 0;
    }

    .fourth_section2 .items .item .desc
    {
        width: calc(100% - 72px);
    }



    /*--------------------
        Fifth section2
    --------------------*/
    .fifth_section2
    {
        padding: 60px 0;
    }


    .fifth_section2 .block_title
    {
        font-size: 28px;
        line-height: 32px;

        margin-bottom: 24px;
    }


    .fifth_section2 .video
    {
        line-height: 18px;

        padding: 16px 20px;
    }



    /*--------------------
        Sixth section2
    --------------------*/
    .sixth_section2
    {
        padding: 60px 0;
    }


    .sixth_section2 .block_title
    {
        font-size: 28px;
        line-height: 32px;

        margin-bottom: 32px;
    }

    .sixth_section2 .block_title br
    {
        display: none;
    }



    /*----------------------
        Seventh section2
    ----------------------*/
    .seventh_section2
    {
        padding: 60px 0;
    }


    .seventh_section2 .block_title
    {
        font-size: 28px;
        line-height: 32px;

        margin-bottom: 32px;
    }


    .seventh_section2 .info
    {
        padding: 20px 24px;
    }


    .seventh_section2 .info .img
    {
        right: 24px;
        bottom: -124px;

        width: 220px;
    }



    .seventh_section2 .analysis
    {
        width: 100%;
        margin-top: 60px;
    }

    .seventh_section2 .analysis .title,
    .seventh_section2 .analysis .desc
    {
        font-size: 18px;
        line-height: 24px;
    }



    /*---------------------
        Eighth section2
    ---------------------*/
    .eighth_section2
    {
        padding: 60px 0;
    }


    .eighth_section2 .block_title
    {
        font-size: 27px;

        margin-bottom: 32px;
    }

    .eighth_section2 .block_title br
    {
        display: none;
    }


    .eighth_section2 .items .item
    {
        width: calc(33.333% - 12px);
    }



    /*--------------------
        Ninth section2
    --------------------*/
    .ninth_section2
    {
        padding: 69px 0 0;
    }

    .ninth_section2 .block_title
    {
        padding: 0;
    }



    .ninth_section2 .map_wrap
    {
        min-height: 0;
        padding: 0;

        background: none;
    }


    .ninth_section2 .map_wrap .info
    {
        width: 100%;
        padding: 0;

        border-radius: 0;
    }


    .ninth_section2 .map_wrap .map
    {
        position: relative;

        height: 360px;
        margin-top: 32px;
    }



    /*---------------------------
        Omicron first section
    ---------------------------*/
    .omicron_first_section
    {
        margin-top: 65px;
    }


    .omicron_first_section .cont
    {
        height: 320px;
        padding-top: 56px;
        padding-bottom: 56px;
    }


    .omicron_first_section .info
    {
        width: 188px;
    }

    .omicron_first_section .info .title
    {
        font-size: 56px;
    }

    .omicron_first_section .info .desc
    {
        font-size: 20px;
        line-height: 26px;

        margin-top: 16px;
    }



    /*----------------------
        Omicron symptoms
    ----------------------*/
    .omicron_symptoms
    {
        padding: 56px 0 0;
    }


    .omicron_symptoms .block_title
    {
        font-size: 32px;
        line-height: 36px;

        margin-bottom: 24px;
    }



    .omicron_symptoms .peculiarities .title,
    .omicron_symptoms .symptoms .title
    {
        font-size: 21px;
        line-height: 25px;
    }


    .omicron_symptoms .peculiarities .columns
    {
        column-gap: 0;
        column-count: 1;
    }

    .omicron_symptoms .peculiarities .columns > * + *
    {
        margin-top: 20px;
    }


    .omicron_symptoms .peculiarities .item
    {
        min-height: 40px;
        padding-left: 52px;
    }


    .omicron_symptoms .peculiarities .number
    {
        font-size: 20px;
        line-height: 38px;

        width: 40px;
        height: 40px;
    }

    .omicron_symptoms .peculiarities .number:after
    {
        width: calc(100% - 4px);
        height: calc(100% - 4px);
    }


    .omicron_symptoms .peculiarities .name
    {
        font-size: 20px;
        line-height: 24px;
    }



    .omicron_symptoms .symptoms .data
    {
        padding: 18px;
    }


    .omicron_symptoms .symptoms .row
    {
        margin-left: -20px;
    }

    .omicron_symptoms .symptoms .row > *
    {
        width: calc(50% - 20px);
        margin-left: 20px;
    }

    .omicron_symptoms .symptoms .item
    {
        font-size: 17px;
        line-height: 21px;
    }

    .omicron_symptoms .symptoms .icon
    {
        width: 64px;
        height: 64px;
    }

    .omicron_symptoms .symptoms .icon + *
    {
        width: calc(100% - 76px);
    }



    .omicron_symptoms .number_cases
    {
        margin-top: 56px;
    }

    .omicron_symptoms .number_cases .title
    {
        font-size: 22px;
        line-height: 100%;

        width: 100%;
        margin: 0 0 12px;

        text-align: center;
    }

    .omicron_symptoms .number_cases .item
    {
        font-size: 22px;
    }

    .omicron_symptoms .number_cases .val
    {
        line-height: 38px;

        height: 36px;
        margin-left: 10px;
        padding: 0 16px;
    }



    /*--------------------
        Omicron slogan
    --------------------*/
    .omicron_slogan
    {
        font-size: 32px;
    }

    .omicron_slogan sup
    {
        font-size: 16px;
        line-height: 22px;
    }



    /*-----------------
        Any viruses
    -----------------*/
    .any_viruses
    {
        padding: 56px 0;
    }


    .any_viruses .block_title
    {
        font-size: 32px;
        line-height: 36px;

        margin-bottom: 24px;
    }

    .any_viruses .block_title sup
    {
        font-size: 16px;
        line-height: 24px;
    }


    .any_viruses .desc
    {
        font-size: 17px;
        line-height: 25px;

        width: 100%;
        padding: 24px;
    }


    .any_viruses .items
    {
        width: 100%;
        margin-top: 28px;
    }

    .any_viruses .items > *
    {
        font-size: 17px;
        line-height: 25px;

        min-height: 36px;
        padding-left: 52px;

        background-size: 36px auto;
    }

    .any_viruses .items > * + *
    {
        margin-top: 16px;
    }



    /*------------
        Footer
    ------------*/
    footer .logo
    {
        width: 100%;
    }

    footer .logo img
    {
        margin: 0 auto;
    }


    footer .menu
    {
        display: none;
    }


    footer .copyright
    {
        width: 100%;

        text-align: center;
    }


    footer .creator
    {
        width: 100%;
        margin-top: 5px;

        text-align: center;
    }



    /*-----------
        PopUp
    -----------*/
    .fancybox-slide--html
    {
        padding: 20px;
    }



    .modal
    {
        border-radius: 30px;
    }

    .modal_title
    {
        font-size: 30px;
        line-height: 38px;

        padding: 20px 40px;
    }

    .modal_data
    {
        padding: 30px 40px 40px;
    }

    .modal .links
    {
        margin-top: 30px;
    }
}
