@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/



    /*------------
        Header
    ------------*/
    header .logo
    {
        font-size: 32px;
        line-height: 32px;
    }


    header .where_buy_link,
    .home header .where_buy_link
    {
        font-size: 17px;

        width: 110px;
    }


    header .mob_menu_btn
    {
        margin-left: 10px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside .content_links
    {
        padding: 20px;
    }

    aside .content_links > * + *
    {
        margin-top: 10px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_title
    {
        font-size: 40px;
        line-height: 40px;
    }



    /*----------------
        Block head
    ----------------*/



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/
    .text_block .message
    {
        padding: 125px 20px 20px 20px;
    }



    /*-----------------
        Where buy block
    -----------------*/
    .where_buy_block .row
    {
        margin-bottom: -30px;
        margin-left: -20px;
    }

    .where_buy_block .row > *
    {
        width: calc(50% - 20px);
        margin-bottom: 30px;
        margin-left: 20px;
    }


    .where_buy_block .item img
    {
        max-height: 80px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .article .info
    {
        padding: 20px;
    }

    .articles .article .desc
    {
        font-size: 14px;
        line-height: 22px;

        margin-top: 15px;
    }



    /*-----------------
        Instruction
    -----------------*/
    .instruction .head .title
    {
        font-size: 44px;
        line-height: 50px;
    }

    .instruction .head .desc
    {
        font-size: 20px;
        line-height: 24px;

        margin-top: 5px;
    }


    .instruction .head .img
    {
        width: 280px;
    }



    /*--------------
        One page
    --------------*/
    .one_page
    {
        padding-top: 65px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .data .title
    {
        font-size: 44px;
        line-height: 44px;
    }

    .first_section .data .sub_title
    {
        font-size: 25px;
        line-height: 25px;
    }



    /*--------------------
        Second section
    --------------------*/
    .second_section .data .title
    {
        font-size: 31px;
        line-height: 33px;
    }


    .second_section .data .exp
    {
        font-size: 15px;
        line-height: 21px;

        margin-top: 25px;
        padding: 20px;
    }

    .second_section .data .exp .name
    {
        font-size: 26px;
        line-height: 28px;
    }



    /*-------------------
        Third section
    -------------------*/
    .third_section .title
    {
        font-size: 31px;
        line-height: 33px;
    }

    .third_section .sub_title
    {
        font-size: 26px;
        line-height: 28px;
    }



    /*--------------------
        Fourth section
    --------------------*/
    .fourth_section .block_title
    {
        font-size: 30px;
        line-height: 31px;
    }


    .fourth_section .img_register
    {
        top: 205px;
        right: 10px;

        width: 90px;
    }



    /*-------------------
        Fifth section
    -------------------*/
    .fifth_section .block_title
    {
        font-size: 30px;
        line-height: 31px;
    }


    .fifth_section .course .title
    {
        font-size: 31px;
        line-height: 33px;
    }


    .fifth_section .pluses .row > *
    {
        width: calc(100% - 40px);
    }

    .fifth_section .pluses .item:before,
    .fifth_section .pluses .item:nth-child(3):before
    {
        top: -22px;
        left: 0;

        width: calc(200% + 40px);
        height: 2px;
    }


    .fifth_section .what_going_on .title
    {
        font-size: 26px;
        line-height: 28px;

        margin-bottom: 15px;
    }



    /*-------------------
        Sixth section
    -------------------*/
    .sixth_section .block_title
    {
        font-size: 30px;
        line-height: 31px;
    }



    /*---------------------
        Seventh section
    ---------------------*/
    .seventh_section .block_title
    {
        font-size: 30px;
        line-height: 31px;

        margin-bottom: 25px;
    }


    .seventh_section .title
    {
        font-size: 20px;
        line-height: 24px;
    }


    .seventh_section .cont > .row
    {
        margin-top: 25px;
    }


    .seventh_section .items ol li
    {
        line-height: 21px;
    }



    /*--------------------
        Eighth section
    --------------------*/
    .eighth_section .block_title
    {
        font-size: 30px;
        line-height: 31px;
    }


    .eighth_section .use_and_dose .info .item .val
    {
        width: calc(100% - 15px);
    }

    .eighth_section .use_and_dose .info .item .val + .val
    {
        margin-top: 5px;
    }



    /*----------------------------------
        Favipiravir info - Mechanism
    ----------------------------------*/
    .favipiravir_info .mechanism .head .steps
    {
        font-size: 15px;
    }

    .favipiravir_info .mechanism .head .step
    {
        padding-left: 35px;
    }

    .favipiravir_info .mechanism .head .step:after
    {
        right: calc(100% + 8px);
    }

    .favipiravir_info .mechanism .head .step:before
    {
        font-size: 69px;
    }


    .favipiravir_info .mechanism .info img
    {
        margin: 0 auto 20px;
    }

    .favipiravir_info .mechanism .info .text_block
    {
        width: 100%;
    }



    /*--------------------------------
        Favipiravir info - Formula
    --------------------------------*/
    .favipiravir_info .formula .info ul
    {
        column-gap: 0;
        column-count: 1;
    }



    /*-----------------------------------
        Favipiravir info - Efficiency
    -----------------------------------*/
    .favipiravir_info .efficiency .block_title
    {
        font-size: 27px;
        line-height: 33px;

        margin-bottom: 25px;
    }


    .favipiravir_info .charts .items > *
    {
        width: calc(100% - 20px);
    }

    .favipiravir_info .charts .chart
    {
        padding: 20px;
    }



    /*------------------------------------
        Favipiravir info - Portability
    ------------------------------------*/
    .favipiravir_info .portability .block_title
    {
        font-size: 27px;
        line-height: 33px;

        margin-bottom: 25px;
    }


    .favipiravir_info .portability .table_title
    {
        line-height: 21px;

        padding: 15px 20px;
    }


    .favipiravir_info .portability .bottom
    {
        padding: 20px;
    }



    /*--------------------------------------
        Favipiravir info - Observ. study
    --------------------------------------*/
    .favipiravir_info .observ_study .block_title
    {
        font-size: 27px;
        line-height: 33px;

        margin-bottom: 25px;
    }


    .favipiravir_info .observ_study .bottom
    {
        font-size: 19px;
        line-height: 25px;

        padding: 15px;
    }



    /*----------------------------------
        Favipiravir info - Confirmed
    ----------------------------------*/
    .favipiravir_info .confirmed .block_title
    {
        font-size: 27px;
        line-height: 33px;

        margin-bottom: 25px;
    }


    .favipiravir_info .confirmed .info .exp
    {
        line-height: 21px;

        padding: 19px;
    }


    .favipiravir_info .confirmed .bottom
    {
        line-height: 21px;

        padding: 15px;
    }



    /*-------------------
        First section2
    -------------------*/
    .first_section2 .info
    {
        padding-bottom: 156px;
    }

    .first_section2 .info .title
    {
        font-size: 29px;
    }

    .first_section2 .info .link
    {
        font-size: 17px;
        line-height: 40px;

        height: 40px;
        margin-top: 20px;
        padding: 0 24px;
    }


    .first_section2 .image
    {
        top: 232px;
        right: 0;
        left: 20px;

        margin: auto;
    }

    .first_section2 .image img
    {
        width: 312px;
    }



    .first_section2 .number_cases .title
    {
        font-size: 20px;
    }

    .first_section2 .number_cases .item
    {
        font-size: 20px;
    }

    .first_section2 .number_cases .item + .item
    {
        margin-left: 24px;
    }

    .first_section2 .number_cases .val
    {
        line-height: 36px;

        padding: 0 12px;
    }



    /*---------------------
        Second section2
    ---------------------*/
    .second_section2 .block_title
    {
        font-size: 26px;
        line-height: 30px;
    }

    .second_section2 .block_title br
    {
        display: none;
    }


    .second_section2 .message img
    {
        width: 44px;
    }

    .second_section2 .message
    {
        font-size: 16px;
        line-height: 22px;

        padding: 16px 20px;
    }

    .second_section2 .message img + div
    {
        width: calc(100% - 64px);
    }



    /*--------------------
        Third section2
    --------------------*/
    .third_section2 .block_title
    {
        margin-bottom: 24px;
    }


    .third_section2 .info .title
    {
        font-size: 18px;
        line-height: 24px;

        margin-bottom: 24px;
    }


    .third_section2 .info .desc div
    {
        width: 100%;
    }

    .third_section2 .info .desc img
    {
        margin: 20px auto 0;
    }


    .third_section2 .items .list
    {
        column-gap: 0;
        column-count: 1;
    }



    /*---------------------
        Fourth section2
    ---------------------*/
    .fourth_section2 .block_title
    {
        font-size: 28px;
        line-height: 32px;

        width: 100%;
    }


    .fourth_section2 .block_desc
    {
        font-size: 17px;
        line-height: 23px;
    }


    .fourth_section2 .items .item
    {
        line-height: 19px;
    }

    .fourth_section2 .items .item .icon
    {
        width: 44px;
    }

    .fourth_section2 .items .item .desc
    {
        width: calc(100% - 64px);
    }



    .fifth_section2 .use_and_dose .info .item .name
    {
        width: calc(100% - 15px);
        margin-bottom: 12px;
    }

    .fifth_section2 .use_and_dose .info .item .name br
    {
        display: none;
    }

    .fifth_section2 .use_and_dose .info .item .val
    {
        width: calc(100% - 15px);
    }

    .fifth_section2 .use_and_dose .info .item .val + .val
    {
        margin-top: 5px;
    }



    .fifth_section2 .total_duration .title
    {
        font-size: 19px;
        line-height: 25px;
    }



    /*--------------------
        Sixth section2
    --------------------*/
    .sixth_section2 .block_title
    {
        font-size: 26px;
        line-height: 30px;

        margin-bottom: 24px;
    }


    .sixth_section2 .item .img
    {
        height: 192px;
    }



    /*----------------------
        Seventh section2
    ----------------------*/
    .seventh_section2 .block_title
    {
        font-size: 26px;
        line-height: 30px;

        margin-bottom: 24px;
    }


    .seventh_section2 .info .img
    {
        right: 0;

        width: 208px;
    }


    .seventh_section2 .analysis
    {
        margin-top: 72px;
    }



    /*---------------------
        Eighth section2
    ---------------------*/
    .eighth_section2 .block_title
    {
        font-size: 26px;
    }


    .eighth_section2 .items .item
    {
        width: calc(50% - 12px);
    }



    /*---------------------------
        Omicron first section
    ---------------------------*/
    .omicron_first_section .cont
    {
        height: 312px;
        padding-top: 52px;
        padding-bottom: 52px;
    }


    .omicron_first_section .info
    {
        width: 172px;
    }

    .omicron_first_section .info .title
    {
        font-size: 50px;
    }

    .omicron_first_section .info .desc
    {
        font-size: 19px;
        line-height: 25px;
    }



    /*----------------------
        Omicron symptoms
    ----------------------*/
    .omicron_symptoms
    {
        padding: 52px 0 0;
    }


    .omicron_symptoms .block_title
    {
        font-size: 28px;
        line-height: 32px;
    }



    .omicron_symptoms .peculiarities .title,
    .omicron_symptoms .symptoms .title
    {
        font-size: 20px;
        line-height: 24px;
    }


    .omicron_symptoms .peculiarities .name
    {
        font-size: 19px;
        line-height: 23px;
    }



    .omicron_symptoms .symptoms .row
    {
        margin-left: 0;
    }

    .omicron_symptoms .symptoms .row > *
    {
        width: 100%;
        margin-left: 0;
    }

    .omicron_symptoms .symptoms .icon
    {
        width: 56px;
        height: 56px;
    }

    .omicron_symptoms .symptoms .icon + *
    {
        width: calc(100% - 72px);
    }



    .omicron_symptoms .number_cases
    {
        margin-top: 52px;
    }

    .omicron_symptoms .number_cases .title
    {
        font-size: 20px;
    }

    .omicron_symptoms .number_cases .item
    {
        font-size: 20px;
    }

    .omicron_symptoms .number_cases .item + .item
    {
        margin-left: 24px;
    }

    .omicron_symptoms .number_cases .val
    {
        line-height: 36px;

        padding: 0 12px;
    }



    /*--------------------
        Omicron slogan
    --------------------*/
    .omicron_slogan
    {
        font-size: 28px;
    }

    .omicron_slogan sup
    {
        font-size: 14px;
        line-height: 20px;
    }



    /*-----------------
        Any viruses
    -----------------*/
    .any_viruses
    {
        padding: 52px 0;
    }


    .any_viruses .block_title
    {
        font-size: 28px;
        line-height: 32px;
    }

    .any_viruses .block_title sup
    {
        font-size: 14px;
        line-height: 24px;
    }


    .any_viruses .desc
    {
        font-size: 16px;
        line-height: 24px;

        padding: 20px;
    }


    .any_viruses .items > *
    {
        font-size: 16px;
        line-height: 24px;
    }



    /*------------
        Footer
    ------------*/



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        border-radius: 20px;
    }

    .modal_title
    {
        font-size: 28px;
        line-height: 36px;

        padding: 20px 30px;
    }

    .modal_data
    {
        padding: 30px;
    }

    .modal .links
    {
        margin-top: 25px;
    }

    .modal .links > *
    {
        width: calc(100% - 10px);
        max-width: calc(100% - 10px);
    }

    .modal .links > * + *
    {
        margin-top: 15px;
    }
}
