@media (max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    .content_flex .content
    {
        width: calc(100% - var(--sidebar_width) - 20px);
    }



    /*------------
        Header
    ------------*/
    header .logo
    {
        font-size: 36px;
        line-height: 36px;

        margin-right: auto;
    }

    header .slogan
    {
        font-size: 14px;
        line-height: 16px;

        display: none;

        margin-left: 15px;
    }


    header .menu .item + .item
    {
        margin-left: 20px;
    }

    header .menu .item > a
    {
        font-size: 19px;
    }


    header .where_buy_link
    {
        font-size: 19px;
        line-height: 41px;
    }



    .home header .menu .item + .item
    {
        margin-left: 25px;
    }



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 40px;
    }

    .page_head .cont > * + *
    {
        margin-top: 30px;
    }


    .page_title
    {
        font-size: 60px;
        line-height: 60px;
    }



    /*----------------
        Block head
    ----------------*/



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 15px;
        line-height: 23px;
    }


    .text_block h2
    {
        margin-bottom: 10px;
    }


    .text_block .message,
    .text_block .table_wrap,
    .text_block .img
    {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .text_block .message,
    .text_block .table_wrap
    {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
    }


    .text_block ul
    {
        padding-left: 0;
    }



    /*-----------------
        Where buy block
    -----------------*/
    .where_buy_block .row > *
    {
        width: calc(33.333% - 30px);
    }



    /*---------
        Faq
    ---------*/
    .faq .item + .item
    {
        margin-top: 30px;
    }

    .faq .item .head
    {
        min-height: 60px;
        padding: 15px 20px 15px 25px;
    }

    .faq .item .data
    {
        padding: 0 20px 25px 25px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row > *
    {
        width: calc(50% - 30px);
    }


    .articles .article .info
    {
        padding: 25px;
    }

    .articles .article .desc
    {
        font-size: 15px;
        line-height: 23px;
    }



    /*-----------------
        Instruction
    -----------------*/
    .instruction .head .cont
    {
        min-height: 0;
    }


    .instruction .head .data
    {
        width: 285px;
        margin-left: 0;
    }

    .instruction .head .title
    {
        font-size: 60px;
        line-height: 60px;
    }

    .instruction .head .desc
    {
        font-size: 25px;
        line-height: 30px;
    }


    .instruction .head .img
    {
        width: 320px;
        margin-right: 0;
    }



    /*--------------
        One page
    --------------*/
    .one_page
    {
        width: 100%;
        height: auto;
        padding-top: 69px;
    }

    .one_page .cont
    {
        height: auto;
        padding-top: 0;
    }

    .onepage-wrapper .section
    {
        height: auto;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .data
    {
        width: 100%;
        margin-top: 40px;

        order: 3;
    }

    .first_section .data .title
    {
        font-size: 50px;
        line-height: 50px;
    }

    .first_section .data .title sup
    {
        font-size: 15px;
        line-height: 25px;
    }

    .first_section .data .sub_title
    {
        font-size: 28px;
        line-height: 30px;
    }


    .first_section .data ol
    {
        margin-top: 25px;
    }


    .first_section .col_right
    {
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
        padding: 50px 20px;
    }


    .first_section .info
    {
        width: 350px;
        margin-bottom: 0;
    }

    .first_section .info .title
    {
        font-size: 36px;
        line-height: 40px;
    }

    .first_section .info .link
    {
        font-size: 22px;
        line-height: 50px;

        width: 200px;
        height: 45px;
        margin-top: 25px;
    }


    .first_section .img
    {
        max-width: calc(100% - 420px);
    }



    /*--------------------
        Second section
    --------------------*/
    .second_section
    {
        padding: 50px 0;
    }

    .second_section .data .title
    {
        font-size: 40px;
        line-height: 42px;

        width: 100%;
        margin-top: 0;
    }

    .second_section .data .exp
    {
        font-size: 16px;
        line-height: 22px;

        margin-top: 30px;
        padding: 20px;
    }

    .second_section .data .exp .name
    {
        font-size: 30px;
        line-height: 32px;

        margin-bottom: 5px;
    }


    .second_section .data .img
    {
        position: relative;

        width: auto;
        max-width: 100%;
        margin-top: 25px;
    }



    /*-------------------
        Third section
    -------------------*/
    .third_section
    {
        padding: 50px 0;
    }

    .third_section .title
    {
        font-size: 40px;
        line-height: 42px;
    }

    .third_section .sub_title
    {
        font-size: 32px;
        line-height: 32px;

        margin-top: 10px;
    }


    .third_section .row
    {
        margin-top: 40px;
    }


    .third_section .item .name
    {
        font-size: 24px;
        line-height: 28px;
    }

    .third_section .item .name sup
    {
        font-size: 14px;
        line-height: 20px;
    }

    .third_section .item .percent
    {
        font-size: 24px;
        line-height: 24px;
    }

    .third_section .item .desc
    {
        font-size: 13px;
        line-height: 18px;

        margin-top: 15px;
    }



    /*--------------------
        Fourth section
    --------------------*/
    .fourth_section
    {
        padding-bottom: 50px;
    }

    .fourth_section .block_title
    {
        font-size: 36px;
        line-height: 37px;

        margin-bottom: 30px;
    }

    .fourth_section .title
    {
        font-size: 18px;
        line-height: 24px;
    }


    .fourth_section .item
    {
        padding: 0;
    }

    .fourth_section .row > *
    {
        width: 100%;
        margin-left: 0;
    }

    .fourth_section .row > * + *
    {
        margin-top: 52px;
    }

    .fourth_section .item:before
    {
        top: -27px;
        left: 0;

        width: 100%;
        height: 2px;
    }



    /*-------------------
        Fifth section
    -------------------*/
    .fifth_section
    {
        padding-bottom: 50px;
    }

    .fifth_section .block_title
    {
        font-size: 36px;
        line-height: 37px;
    }


    .fifth_section .compatibility
    {
        font-size: 14px;
        line-height: 20px;

        width: 100%;
        min-height: 0;
        margin-top: 30px;
        padding: 20px;

        order: 3;
    }


    .fifth_section .course
    {
        width: 100%;
    }

    .fifth_section .course .title
    {
        font-size: 32px;
        line-height: 34px;

        margin-bottom: 10px;
    }

    .fifth_section .course .item
    {
        width: calc(50% - 15px);
    }

    .fifth_section .course .item .name
    {
        font-size: 18px;
        line-height: 22px;
    }



    .fifth_section .what_going_on
    {
        flex-wrap: wrap;
    }

    .fifth_section .what_going_on .title
    {
        width: 100%;
        margin-bottom: 10px;
    }

    .fifth_section .what_going_on .title br
    {
        display: none;
    }

    .fifth_section .what_going_on .items
    {
        width: 100%;
    }

    .fifth_section .what_going_on .items > *
    {
        padding-left: 25px;
    }

    .fifth_section .what_going_on .items > *:before
    {
        font-size: 40px;
    }



    /*-------------------
        Sixth section
    -------------------*/
    .sixth_section
    {
        padding-bottom: 50px;
    }

    .sixth_section .block_title
    {
        font-size: 36px;
        line-height: 37px;
    }


    .sixth_section .bg .img
    {
        width: 320px;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .sixth_section .bg .info
    {
        width: 100%;
    }

    .sixth_section .bg .info ul li
    {
        font-size: 16px;
        line-height: 20px;
    }



    .sixth_section .bottom .row
    {
        margin-left: -30px;
        padding: 0;
    }

    .sixth_section .bottom .row > *
    {
        width: calc(50% - 30px);
        margin-left: 30px;
    }

    .sixth_section .bottom .item
    {
        font-size: 20px;
        line-height: 24px;

        min-height: 56px;
        padding-left: 50px;

        background-position: 0 4px;
        background-size: auto 52px;
    }



    /*---------------------
        Seventh section
    ---------------------*/
    .seventh_section
    {
        padding-bottom: 50px;
    }

    .seventh_section .block_title
    {
        font-size: 36px;
        line-height: 37px;
    }

    .seventh_section .title
    {
        font-size: 26px;
        line-height: 30px;
    }

    .seventh_section .title sup
    {
        font-size: 14px;
        line-height: 20px;
    }


    .seventh_section .row
    {
        margin-top: 30px;
    }

    .seventh_section .img
    {
        display: none;
    }

    .seventh_section .items
    {
        width: 100%;
    }

    .seventh_section .items ol
    {
        margin-bottom: -30px;
        margin-left: -30px;
    }

    .seventh_section .items ol li
    {
        font-size: 16px;
        line-height: 24px;

        padding-left: 60px;
    }

    .seventh_section .items ol > *
    {
        width: calc(50% - 30px);
        margin-bottom: 30px;
        margin-left: 30px;
    }



    /*--------------------
        Eighth section
    --------------------*/
    .eighth_section .block_title
    {
        font-size: 36px;
        line-height: 37px;
    }


    .eighth_section .total_duration
    {
        margin-top: 40px;
    }

    .eighth_section .total_duration img
    {
        max-width: 80%;
    }


    .eighth_section .video
    {
        margin-top: 40px;
    }



    /*----------------------------------
        Favipiravir info - Head info
    ----------------------------------*/
    .favipiravir_info .head_info .title
    {
        font-size: 34px;
    }

    .favipiravir_info .head_info .desc
    {
        font-size: 16px;
        line-height: 24px;
    }



    /*----------------------------------
        Favipiravir info - Mechanism
    ----------------------------------*/
    .favipiravir_info .mechanism .head .title
    {
        font-size: 25px;
        line-height: 29px;
    }


    .favipiravir_info .mechanism .head .steps
    {
        font-size: 17px;
    }

    .favipiravir_info .mechanism .head .step:after
    {
        right: calc(100% + 20px);
    }


    .favipiravir_info .mechanism .info
    {
        width: calc(50% + 80px);
        margin-top: -75px;
    }

    .favipiravir_info .mechanism .info img
    {
        width: 124px;
    }

    .favipiravir_info .mechanism .info .text_block
    {
        font-size: 16px;
        line-height: 24px;

        width: calc(100% - 154px);
    }



    /*--------------------------------
        Favipiravir info - Formula
    --------------------------------*/
    .favipiravir_info .formula .img
    {
        width: 280px;
    }


    .favipiravir_info .formula .info
    {
        width: calc(100% - 310px);
    }

    .favipiravir_info .formula .info .title
    {
        font-size: 16px;
        line-height: 24px;

        margin-bottom: 20px;
    }


    .favipiravir_info .formula .bottom
    {
        font-size: 22px;
        line-height: 30px;

        padding: 22px 32px;
    }



    /*-----------------------------------
        Favipiravir info - Efficiency
    -----------------------------------*/
    .favipiravir_info .efficiency .block_title
    {
        font-size: 32px;
        line-height: 38px;

        margin-bottom: 30px;
    }


    .favipiravir_info .efficiency .info
    {
        font-size: 16px;
        line-height: 24px;

        width: 280px;
    }


    .favipiravir_info .efficiency .img
    {
        max-width: calc(100% - 310px);
    }



    /*-------------------------------
        Favipiravir info - Charts
    -------------------------------*/
    .favipiravir_info .charts
    {
        padding: 40px 0;
    }


    .favipiravir_info .charts .items
    {
        max-width: calc(100% - 230px);
    }


    .favipiravir_info .charts .chart
    {
        font-size: 16px;
        line-height: 20px;

        padding: 15px 10px 10px;
    }


    .favipiravir_info .charts .info
    {
        font-size: 16px;
        line-height: 24px;

        width: 220px;
    }



    /*---------------------------------
        Favipiravir info - Footnote
    ---------------------------------*/
    .favipiravir_info .footnote
    {
        font-size: 13px;
        line-height: 18px;
    }



    /*------------------------------------
        Favipiravir info - Portability
    ------------------------------------*/
    .favipiravir_info .portability .block_title
    {
        font-size: 32px;
        line-height: 38px;

        margin-bottom: 30px;
        padding: 0;
    }


    .favipiravir_info .portability .col,
    .favipiravir_info .portability .col + .col
    {
        width: calc(50% - 10px);
    }


    .favipiravir_info .portability .table_title
    {
        font-size: 16px;
        line-height: 24px;

        margin-bottom: 25px;
        padding: 20px 30px;
    }


    .favipiravir_info .portability .text_block
    {
        font-size: 16px;
        line-height: 24px;

        padding: 0;
    }


    .favipiravir_info .portability .bottom
    {
        font-size: 19px;
        line-height: 23px;

        margin-top: 25px;
        padding: 20px 25px;
    }

    .favipiravir_info .portability .bottom .exp
    {
        font-size: 12px;
        line-height: 16px;

        margin-top: 12px;
    }



    /*--------------------------------------
        Favipiravir info - Observ. study
    --------------------------------------*/
    .favipiravir_info .observ_study .block_title
    {
        font-size: 32px;
        line-height: 38px;

        margin-bottom: 30px;
        padding: 0;
    }


    .favipiravir_info .observ_study .text_block
    {
        font-size: 16px;
        line-height: 24px;

        width: 280px;
    }

    .favipiravir_info .observ_study .text_block > *
    {
        margin-bottom: 20px;
    }


    .favipiravir_info .observ_study .table
    {
        font-size: 16px;
        line-height: 24px;

        max-width: calc(100% - 320px);
    }


    .favipiravir_info .observ_study .bottom
    {
        font-size: 22px;
        line-height: 28px;

        margin-top: 30px;
        padding: 20px 42px;
    }



    /*----------------------------------
        Favipiravir info - Confirmed
    ----------------------------------*/
    .favipiravir_info .confirmed .block_title
    {
        font-size: 32px;
        line-height: 38px;

        margin-bottom: 30px;
        padding: 0;
    }


    .favipiravir_info .confirmed .info .exp
    {
        font-size: 16px;
        line-height: 24px;

        padding: 20px 25px;
    }


    .favipiravir_info .confirmed .info .text_block
    {
        font-size: 16px;
        line-height: 24px;

        margin-top: 25px;
    }

    .favipiravir_info .confirmed .info .text_block > *
    {
        margin-bottom: 20px;
    }


    .favipiravir_info .confirmed .chart
    {
        padding: 22px;
    }

    .favipiravir_info .confirmed .chart .name
    {
        font-size: 20px;
        line-height: 26px;
    }


    .favipiravir_info .confirmed .bottom
    {
        font-size: 16px;
        line-height: 24px;

        margin-top: 30px;
        padding: 22px 42px;
    }



    /*-------------------
        First section2
    -------------------*/
    .first_section2
    {
        position: relative;
    }

    .first_section2 .cont
    {
        padding-top: 69px;
        padding-bottom: 80px;
    }


    .first_section2 .info
    {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 160px;
    }

    .first_section2 .info .title
    {
        font-size: 36px;
    }

    .first_section2 .info .title small
    {
        font-size: 16px;
        line-height: 16px;
    }



    .first_section2 .image
    {
        position: absolute;
        top: 124px;
        right: 0;

        width: auto;

        pointer-events: none;
    }



    .first_section2 .number_cases
    {
        position: relative;

        padding: 20px 0;
    }



    /*---------------------
        Second section2
    ---------------------*/
    .second_section2
    {
        padding: 72px 0;
    }


    .second_section2 .items
    {
        margin-top: 40px;
        margin-bottom: -32px;
        margin-left: -32px;
    }

    .second_section2 .items .item
    {
        width: calc(50% - 32px);
        margin-bottom: 32px;
        margin-left: 32px;
    }

    .second_section2 .items .item.big
    {
        width: calc(50% - 32px);
    }


    .second_section2 .message
    {
        font-size: 18px;
        line-height: 26px;

        margin-top: 40px;
    }



    /*--------------------
        Third section2
    --------------------*/
    .third_section2
    {
        padding: 72px 0;
    }


    .third_section2 .block_title
    {
        margin-bottom: 32px;
    }


    .third_section2 .info
    {
        width: 100%;
    }


    .third_section2 .items
    {
        width: 100%;
        margin-top: 40px;
    }



    /*---------------------
        Fourth section2
    ---------------------*/
    .fourth_section2
    {
        padding: 72px 0;
    }


    .fourth_section2 .block_desc
    {
        width: 100%;
        margin-top: 20px;
    }


    .fourth_section2 .items
    {
        width: calc(100% + 20px);
        margin-top: 40px;
        margin-bottom: -20px;
        margin-left: -20px;
    }

    .fourth_section2 .items .item
    {
        width: calc(33.333% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
        padding: 20px;
    }



    /*--------------------
        Fifth section2
    --------------------*/
    .fifth_section2
    {
        padding: 72px 0;
    }


    .fifth_section2 .use_and_dose
    {
        width: 100%;
    }


    .fifth_section2 .col_right
    {
        width: 100%;
        margin-top: 40px;
    }



    /*--------------------
        Sixth section2
    --------------------*/
    .sixth_section2
    {
        padding: 72px 0;
    }


    .sixth_section2 .row
    {
        margin-left: 0;
    }

    .sixth_section2 .item
    {
        width: 100%;
        margin-left: 0;
    }



    /*----------------------
        Seventh section2
    ----------------------*/
    .seventh_section2
    {
        padding: 72px 0;
    }


    .seventh_section2 .info
    {
        width: 100%;
        padding: 24px 80px 40px 28px;
    }


    .seventh_section2 .analysis
    {
        width: 376px;
        margin-top: 32px;
        margin-left: 0;
    }


    .seventh_section2 .info .img
    {
        right: 0;
        bottom: -140px;
        left: auto;
    }



    /*---------------------
        Eighth section2
    ---------------------*/
    .eighth_section2
    {
        padding: 72px 0;
    }


    .eighth_section2 .block_title
    {
        font-size: 28px;
    }


    .eighth_section2 .items
    {
        width: calc(100% + 12px);
        margin-bottom: -12px;
        margin-left: -12px;
    }

    .eighth_section2 .items .item
    {
        width: calc(20% - 12px);
        margin-bottom: 12px;
        margin-left: 12px;
        padding: 12px;
    }



    /*--------------------
        Ninth section2
    --------------------*/
    .ninth_section2 .block_title
    {
        font-size: 28px;

        margin-bottom: 32px;
        padding: 32px 0 0;
    }


    .ninth_section2 .map_wrap
    {
        min-height: 550px;
    }



    .second_section2,
    .third_section2,
    .fourth_section2,
    .fifth_section2,
    .sixth_section2,
    .seventh_section2,
    .eighth_section2
    {
        padding-top: 69px;
        padding-bottom: 69px;
    }



    /*---------------------------
        Omicron first section
    ---------------------------*/
    .omicron_first_section
    {
        margin-top: 69px;
    }


    .omicron_first_section .cont
    {
        height: 360px;
    }


    .omicron_first_section .info
    {
        width: 264px;
    }

    .omicron_first_section .info .title
    {
        font-size: 60px;
    }

    .omicron_first_section .info .desc
    {
        font-size: 21px;
        line-height: 27px;
    }



    /*----------------------
        Omicron symptoms
    ----------------------*/
    .omicron_symptoms
    {
        padding: 60px 0 0;
    }


    .omicron_symptoms .block_title
    {
        font-size: 38px;
        line-height: 42px;

        margin-bottom: 28px;
    }



    .omicron_symptoms .peculiarities
    {
        width: 100%;
    }


    .omicron_symptoms .symptoms
    {
        width: 100%;
        margin-top: 28px;
    }


    .omicron_symptoms .peculiarities .title,
    .omicron_symptoms .symptoms .title
    {
        font-size: 22px;
        line-height: 26px;
    }


    .omicron_symptoms .peculiarities .desc
    {
        margin-top: 4px;
    }


    .omicron_symptoms .symptoms .data
    {
        padding: 22px;
    }



    .omicron_symptoms .number_cases
    {
        position: relative;

        margin-top: 60px;
        padding: 20px 0;
    }



    /*--------------------
        Omicron slogan
    --------------------*/
    .omicron_slogan
    {
        font-size: 37px;

        padding: 40px 0;
    }

    .omicron_slogan sup
    {
        font-size: 18px;
        line-height: 24px;
    }



    /*-----------------
        Any viruses
    -----------------*/
    .any_viruses
    {
        padding: 60px 0;
    }


    .any_viruses .block_title
    {
        font-size: 34px;
        line-height: 40px;

        margin-bottom: 28px;
    }

    .any_viruses .block_title sup
    {
        font-size: 16px;
        line-height: 26px;
    }


    .any_viruses .desc
    {
        font-size: 17px;
        line-height: 27px;

        width: calc(50% - 20px);
        padding: 28px;
    }


    .any_viruses .items
    {
        width: calc(50% - 20px);
    }

    .any_viruses .items > *
    {
        font-size: 17px;
        line-height: 25px;

        min-height: 44px;
        padding-left: 60px;

        background-size: 44px auto;
    }

    .any_viruses .items > * + *
    {
        margin-top: 20px;
    }


    .any_viruses .image
    {
        display: none;
    }



    /*------------
        Footer
    ------------*/
    footer .info
    {
        padding: 20px 0;
    }


    footer .bottom
    {
        line-height: 20px;

        padding: 15px 0;
    }


    footer .menu .item + .item
    {
        margin-left: 40px;
    }



    .one_page footer
    {
        position: relative;

        margin-top: 50px;
    }



    /*-----------
        PopUp
    -----------*/
    .fancybox-slide--html
    {
        padding: 30px;
    }



    .modal_title
    {
        font-size: 34px;
        line-height: 46px;

        padding: 20px 55px;
    }

    .modal_data
    {
        padding: 35px 55px 45px;
    }
}
